@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/ShareTechMono-Regular.ttf");
}

body {
  background-color: #101010;
  color: #00ff00;
  font-family: "Share Tech Mono", monospace;
}

p {
  font-size: 20px;
}
