@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/ShareTechMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-black: #101010;
  --color-green: #00ff00;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 95%;
}

html {
  scroll-behavior: smooth;
}

::webkit-scrollbar {
  display: none;
}

body {
  font-family: "Share Tech Mono", monospace;
  background: var(--color-black);
  color: var(--color-green);
}

/* ========== GENERAL STYLES ========== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

/* ========== MEDIA QUERIES (LARGE DEVICES)  ========== */

/* ========== MEDIA QUERIES (MEDIUM DEVICES)  ========== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES)  ========== */
